

    .card{
        width: 600px;
        
    }
    .card1{
        width: 500px;
        margin-top: -580px;
        margin-left: 800px;
        border-color: #000000;

    }
    body {
        margin: 0;
        padding: 0;
      }
      
      .navbar {
        background-color:#1E1E1E;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 50px;
        height: 120px;
        font-family:Georgia, 'Times New Roman', Times, serif;
      }
      
      .navbar-logo img {
        max-height: 70px;
      }
      
      .navbar-items {
        list-style:none;
        margin: 0;
        padding: 0;
    
      }
      
      .navbar-items li {
        
        margin-right: 50px;
        font-size:20px;
        display: inline-block; /* Ensure the list items have layout */
        position: relative; /* Positioning context for the pseudo-element */
      
      }
      .navbar-items li a {
        text-decoration: none;
        color: white;
        font-weight: bold;
      }
    
      .navbar-items li a:hover {
        color: #32A071;
        
      }
      
      .navbar-items li:last-child {
        margin-right: 0;
      }
      
    
      .navbar-items li a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: transparent;
        transition: background-color 0.3s ease;
      }
    
      .navbar-items li a:hover ::after {
        background-color: #32A071; /* Change underline color to green on hover */
      }
      
      
      .navbar-icons {
        color: white;
      }
      
      .navbar-icons img {
        max-height: 40px;
        margin-right: 50px;
        
      }
      .product-image {
        width: 100px; /* Adjust the width as needed */
        height: auto; /* Maintain aspect ratio */
    }