body {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
    height: 60px;
  }
  
  .navbar-logo img {
    max-height: 70px;
  }
  
  .navbar-items {
    list-style:none;
    margin: 0;
    padding: 0;

  }
  
  .navbar-items li {
    
    margin-right: 50px;
    font-size:20px;
    display: inline-block; /* Ensure the list items have layout */
    position: relative; /* Positioning context for the pseudo-element */
  
  }
  .navbar-items li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .navbar-items li a:hover {
    color: #32A071;
    
  }
  
  .navbar-items li:last-child {
    margin-right: 0;
  }
  

  .navbar-items li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  .navbar-items li a:hover ::after {
    background-color: #32A071; /* Change underline color to green on hover */
  }
  
  
  .navbar-icons {
    color: white;
  }
  
  .navbar-icons img {
    max-height: 40px;
    margin-right: 50px;
    
  }
 

  
 
  .image-container {
    margin-top: 0; /* Adjust as needed */
  }
  
  .image-container img {
    width: 100%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
  }
  .text-overlay {
    position: absolute;
    top: 300px;
    left: 155px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 68px;
    font-weight: 800;
    color: white;
    
  }
  .text-overlay span {
    display: block;
    margin-bottom: 5px; /* Adjust the margin between the lines of text */
    transition: color 0.3s ease;
  }
  .text-overlay span:hover {
    animation: colorChange 1s infinite alternate; /* Apply color change animation on hover */
  }
  
  @keyframes colorChange {
    0% {
      color: #81F7E5;
    }
    25% {
      color: #A9F8FB;
    }
    50% {
      color: #00AF54;
    }
    75% {
      color: #CDEDFD;
    }
    100% {
      color: #1EFFBC;
    }
  }
  .black-div {
    position: absolute;
    top: 800px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  #1E1E1E;
    border-radius: 10px;
    width: 800px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow */
  }
  .content-wrapper {
    color: white;
    top:717px;
    left: 270px;
    font-size: 25px;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 90px;
  }
  .horizontal-container {
    display: flex;
    justify-content: space-between;
  }
  
  .vertical-div {
    flex: 1;
    margin-right: 30px;
    padding-left: 90px;
    

  }
  
  .vertical-div:last-child {
    margin-right: 0;
  }
  
  .vertical-div label {
    display: block;
    margin-bottom: 5px;
    padding-top: 20px;
    color: white;
    font-size: 14px;
  }
  
  .vertical-div select {
    width: 286px;
    height: 50px;
    top: 800px;
    left: 270px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
  }

  .vertical-div input[type="date"] {
    width: 286px;
    height: 35px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color:white;
    color:black;
  }
  
  .search-button {
    width: 150px;
    height: 50px;
    padding: 10px;
    background-color: #32A071;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 40px;
  }
  
  .search-button:hover {
    background-color: #81F7E5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
}

  .search-button i {
    margin-left: 8px;
  }

  .search-button::before{
    content: '';
    transform: skewY(-45deg);
  }
  .additional-div {
    background-color: #09A1631C;
    margin-top: -30px;
    height: 400px;
    
    

  }
  .how-it-works {
    text-align: center;
    padding-top: 150px;
    font-size: 40px;
    font-weight: 700;

    
  }
  .horizontal-container {
    display: flex;
  }
  
  .horizontal-div {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 50px;
  }
  
  
  .vertical-text {
    margin-top: 10px;
  }
  
  .vertical-text p {
    margin:5px;
  }
  .title{
    font-size: 20px;
    font-weight: 700;
  }
  .image-button{
    width: 80px;
    height: 80px;
    background-color: #1E1E1E;
    border-radius: 10px;
  }
  .image-button img {
    width: 60px;
    height: 60px;
  }
.partners-section {
    background-color:#09A1631C;
    padding: 20px 0;
    text-align: center;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.vertical-center img{
  height:200px;
  width: 300px;
}

.additional-partners {
  padding: 20px 0;
  
}

.horizontal-div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.horizontal-div1 img{
  height: 600px;
}
.vertical-div1 {
  margin-left: 20px;
  
}

.vertical-div1 p {
  margin-bottom: 10px;
}

.vertical-div1 img {
  margin-top: 10px;
  height: 40px;
  width: 200px;
}
.footer {
  background-color: #1E1E1E;
  color: white;
  padding: 20px;
  display: flex;
  margin-top: -20px;
}

.footer-section {
  flex: 1;
  padding: 0 10px;
  margin-top: 20px;
  margin-left: 50px;
}

.logo-and-paragraph img {
  width: 220px; /* Adjust as needed */
  height: 73px;
  margin-bottom: 10px;
}

.footer-list {
  list-style-type: none;
  padding: 10px;
}

.footer-list li {
  margin-bottom: 10px;
  padding: 10px;
}

.footer-list a {
  color: white;
  text-decoration: none;
}



