{# templates/payment/cancel.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Payment Cancelled{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Payment Cancelled</div>

                    <div class="card-body">
                        <p>Your payment was cancelled. If you have any questions or concerns, please contact us.</p>
                        <p>You can also return to the main page.</p>
                        <a href="{{ path('homepage') }}" class="btn btn-primary">Return to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}