{% extends 'base.html.twig' %}

{% block title %}Edit TaskEvent{% endblock %}

{% block body %}
    <h1>Edit TaskEvent</h1>

    {{ include('task_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_task_event_index') }}">back to list</a>

    {{ include('task_event/_delete_form.html.twig') }}
{% endblock %}
